@import 'element-plus/theme-chalk/dark/css-vars.css';
@import './var.css';

html, body, #app {
    height: 100%;
}

html.dark {
    background-color: var(--bg-color-dark);
    --el-menu-bg-color: var(--bg-color-dark);
}