:root {
    --dark-bg-color: #293146;
    // logo
    --logo-height: 50px;
    // left-menu
    --left-menu-normal-width: 200px;
    --left-menu-min-width: 64px;
    // transition
    --transition-time-02: 0.2s;
    // header
    --top-tool-height: var(--logo-height);
    // tags
    --tag-view-height: 40px;

}

html, body, #app {
    height: 100%;
}